.calendar
  #content
    padding: 35px 0 60px
    background-color: $bg

    .calendar-month
      display: none

      .no-bday
        height: calc(100vh - 280px)
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between
        background-image: url(../img/backgrounds/4-layers.svg)
        background-repeat: no-repeat
        background-position: center center

        &:before
          content: ' '
          display: block
        img
          margin-top: 25px
        p
          font-size: 20px
          line-height: 1.25
          color: $grey-text


      &.show
        display: block

      .card-template
        height: 746px