.card-template
  height: 633px
  box-shadow: 0 0 6px rgba(22, 22, 22, 0.08)
  border-radius: 4px
  background-color: #ffffff
  overflow: hidden
  position: relative
  display: flex
  flex-direction: column
  justify-content: space-between
  margin-bottom: 15px

  .ellipse
    position: absolute
    border-radius: 0 0 50% 50%
    background-image: linear-gradient(to right, #194450 0%, #009da6 99%, #009da6 100%)
    top: -13px
    left: -18px
    width: 112%
    height: 152px
    z-index: 0

    &.ellipse-2
      z-index: 1
      background-image: none
      background-color: white
      opacity: 0.05
      top: -37px
    &.ellipse-3
      z-index: 2
      background-image: none
      background-color: white
      opacity: 0.08
      top: -62px
  .head-info
    padding: 60px 30px 0
    text-align: center
    z-index: 5

    .avatar
      width: 125px
      height: 125px
      border: 3px solid white
      border-radius: 50%
      background-color: white
      margin: 0 auto 24px
      overflow: hidden

      img
        width: 100%
        height: 100%
    .birth-date
      font-size: 18px
      font-weight: 600
      line-height: 1.25
      color: $violet
      margin-bottom: 12px

      &:before
        display: flex
        justify-content: center
        align-items: center
        content: url(../img/icons/gift.png)
        height: 52px
        width: 52px
        border: 3px solid $border-color-2
        border-radius: 50%
        margin: 0 auto 15px
        padding: 5px

    .name
      font-family: 'Montserrat', sans-serif
      font-size: 20px
      color: $secondary
      margin-top: 0
      margin-bottom: 12px

      &:hover, &:active, &:focus
        cursor: pointer
        color: $main
    .position
      font-size: 15px
      margin-top: 0
  .body-info
    padding: 0 30px 30px
    text-align: center

    .location
      font-size: 13px
      line-height: 1.8
      margin: 0 0 20px
    .phone, .skype, .email
      font-size: 15px
      font-weight: 600
      line-height: 1.6
      color: $secondary

      &:hover, &:active, &:focus
        cursor: pointer
        color: $main
    .email
      margin-bottom: 26px
    .description
      font-size: 13px
      line-height: 1.25
      color: $grey-text
