.copyable
  position: relative
  width: 100%
  height: 100%

  button
    position: absolute
    width: 120px
    height: 32px
    top: -32px
    left: calc(50% - 60px)
    color: #ffffff
    font-family: "Open Sans", sans-serif
    font-size: 14px
    font-weight: 400
    box-shadow: 0 0 6px rgba(22, 22, 22, 0.08)
    background-color: $secondary
    border: none
    outline: none
    border-radius: 4px
    display: none

    &:after
      content: ''
      display: block
      position: absolute
      top: 100%
      left: calc(50% - 7.5px)
      width: 15px
      height: 1px
      border-width: 7.5px
      border-style: solid
      border-color: $secondary transparent transparent transparent
    &:hover, &:active
      background-color: $main

      &:after
        border-color: $main transparent transparent transparent

  &:hover, &:focus
    button
      display: block