footer
  .pre-footer
    background-color: $bg-blue
    background-image: radial-gradient(circle 540px at 50% 50%, rgba(0, 157, 166, .5) 0%, $bg-blue  100%)
    text-align: center
    padding: 60px 0

    h2
      font-size: 24px
      font-weight: 600
      color: white
      margin: 0 0 30px

    .row
      display: flex
      justify-content: center

      .item
        .image
          margin: 0 auto 24px
          width: 125px
          height: 125px
          border: 3px solid rgba(230, 230, 230, .3)
          border-radius: 50%
          background-color: rgba(230, 230, 230, .3)
          overflow: hidden

          img
            width: 100%
            height: 100%
        h2
          font-family: 'Montserrat', sans-serif
          font-size: 20px
          color: $secondary
          margin-bottom: 12px
        h3
          font-size: 15px
          margin-top: 0
          color: white

    .open-office
      margin-bottom: 12px
  .main-footer
    background-image: linear-gradient(to left, #208e93 0%, $bg-blue 100%)
    position: relative

    .container
      position: relative
      padding: 13px 0
      overflow: hidden

      p
        font-size: 14px
        color: white
        line-height: 1.25
        text-align: center
      a
        font-size: 14px
        color: white
        line-height: 1.25

        &:hover, &:active, &:focus
          color: $main
          text-decoration: none

      .ellipse
        position: absolute
        top: -203px
        right: -249px
        width: 496px
        height: 496px
        background-color: white
        opacity: 0.08
        border-radius: 0 50% 50% 50%

        &.ellipse-2
          right: -163px
          opacity: 0.05

    .mask
      position: absolute
      top: 0
      right: 0
      width: calc((100% - 1170px) / 2)
      height: 100%
      background-color: white
      opacity: 0.13

      @media (max-width: 1169px)
        width: calc((100% - 970px) / 2)
      @media (max-width: 991px)
        width: calc((100% - 750px) / 2)
      @media (max-width: 767px)
        display: none
