header
  background-image: linear-gradient(to right, #208e93 0%, $bg-blue 100%)


  .navbar
    height: 100%
    margin: 0
    position: relative

    .mask
      position: absolute
      top: 0
      left: 0
      width: calc((100% - 1170px) / 2)
      height: 100%
      background-color: white
      opacity: 0.13

      @media (max-width: 1169px)
        width: calc((100% - 970px) / 2)
      @media (max-width: 991px)
        width: calc((100% - 750px) / 2)
      @media (max-width: 767px)
        display: none

    .container
      position: relative
      padding: 13px 0

      .ellipse-container
        overflow: hidden
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        width: 100%
        height: 100%
        z-index: -1

        .ellipse
          position: absolute
          top: -203px
          left: -249px
          width: 496px
          height: 496px
          background-color: white
          opacity: 0.08
          border-radius: 0 50% 50% 50%
          z-index: -1

          &.ellipse-2
            left: -163px
            opacity: 0.05
            z-index: -2

      .navbar-header
        height: 100%
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
        z-index: 5

        &:before, &:after
          display: none
        .navbar-brand
          padding: 0 0 0 15px
          height: max-content
          margin-right: 60px
        .nav
          li
            &:not(:last-child)
              margin-right: 30px

            a
              padding: 13px 10px
              font-size: 18px
              font-weight: 400
              color: white
              border-bottom: 3px solid transparent
              @extend .main-menu-hover-active-animation

              &:hover, &:active, &:focus, &.active
                color: $main
                background-color: transparent
        .navbar-search
          height: max-content
          position: relative

          input
            border: 3px solid $border-color
            border-radius: 4px
            background-color: transparent
            outline: none
            padding: 5px 10px
            color: white

            &::placeholder
              color: white