.home
  #content
    padding: 35px 0 60px
    background-color: $bg

    .department
      &:not(&:last-child)
        margin-bottom: 54px

      h3
        font-weight: 600
        margin-bottom: 30px
        color: $almost-black