.main-menu-hover-active-animation
  position: relative

  &:after
    content: ''
    display: block
    width: 0
    height: 100%
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 50%
    transition: all .5s cubic-bezier(0.23, 1, 0.32, 1)
    border-bottom: 3px solid $main

  &:hover, &:active, &:focus, &.active
    &:after
      width: 100%
      left: 0