#secondary-header
  padding: 32px 0

  .container
    height: 100%

    .nav
      a, button
        font-size: 14px
        font-weight: 400
      button
        color: $almost-black

        &:hover, &:active, &:focus
          color: $secondary
          text-decoration: none
      a
        color: $secondary
        letter-spacing: .25px

        &:hover, &:active, &:focus
          color: $main
          text-decoration: none

      &.sec-header-default
        width: 100%
        height: 100%
        display: flex
        justify-content: space-between
        align-items: center

        &:before, &:after
          display: none
        .filters
          display: flex

          .text
            font-size: 14px
            font-weight: 400
            color: $grey-text
            line-height: 1.42857143
            padding: 6px 0
            margin-right: 5px
          .dropdown
            button
              padding-right: 5px
              outline: none

              .caret
                margin-left: 7px
                border-top: 6px dashed
                border-right: 6px solid transparent
                border-left: 6px solid transparent
            .dropdown-menu
              a
                color: $almost-black

                &:hover, &:active, &:focus
                  color: $secondary
                  background-color: transparent

        .anchors
          a
            &:not(:last-child)
              margin-right: 25px
            i
              border: 3px solid $border-color-2
              border-radius: 50%
              margin-right: 5px
              padding: 5px
              font-size: 21px
              line-height: 1
      &.sec-header-calendar
        li
          margin: 0
          width: calc(100% / 12)
          border-radius: 18px
          overflow: hidden

          &:hover, &:active, &:focus, &.active
            background-color: $secondary

            a
              color: white

          a
            display: block
            width: 100%
            height: 100%
            text-align: center
            padding: 12px 0
            color: $almost-black
            font-size: 14px
            background-color: transparent

      &.sec-header-admin
        li
          &.active
            a
              background-color: $secondary
              color: white
          a
            &:hover, &:active, &:focus
              background-color: $main
              color: white